body{
    background-color: dimgray;
}
h1{
    text-shadow: 1px 2px 3px #000;
    margin: 10px;
    box-shadow: 10px 10px 10px #000;
    width: 300px;
    text-align: center;
}
h2{
    color: aqua;
    text-shadow: 10px 10px 10px #000;
    margin: 20px ;

}
p{
    color:antiquewhite;
}
table{
    color: aliceblue;
    margin: 40px;
    box-shadow: 10px 10px 10px ;
}